/* ======================= BACKGROUND ======================= */

.bg-blue {
  background-color: #108ee9 !important;
}

.bg-lightblue {
    background-color: #18c1ff !important;
}

.bg-darkblue {
  background-color: #084a7a !important;
}

/* ======================= FONT COLOR ======================= */

.text-ligthblue {
  color: #18c1ff !important;
}

.text-blue {
  color: #108ee9 !important;
}

/* ======================= BUTTON ======================= */

.btn-pink {
  background-color: #ff64ae !important;
}

.btn-yellow:hover {
  background-color: #ffcc3b !important;
  border: 2px solid #ffcc3b !important;
  color: black !important;
} 

/* ======================= GENERAL ======================= */

body {
  background-color: #f5f5f5 !important;
}


/* ======================= HEADER ======================= */

nav {
  position: relative;
  top: 7px;
}

.btn-daftar {
  border: 2px solid #18c1ff !important;
  color: black !important;
} 

.nav-item {
  position: relative;
  padding-bottom: 10px;        
}

.dropdown {
  position: relative;
  top: 75%; 
  left: -70;
  background-color: #f5f5f5 !important;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  padding: 30px 100px 30px 20px;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  z-index: 9999;
  pointer-events: auto; 
  margin-top: 10px;
}

header {
  position: relative; 
  z-index: 10;
  background-color: #f5f5f5 !important;
}

.nav-item:hover .dropdown {
  display: flex;
  position: absolute;
}

main, section, .container, .hero, .content {
  position: relative;
  z-index: 1;
}

.dropdown a:hover {
  color: #cecece !important;
}

.btn-language:hover {
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit !important;
}


.img-blog {
  padding-left: 40px;
  width: 80%;
  height: 600px;
}
.hero-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 30px;
  max-width: 700px;
} 
.hero-content-wrap {
  background-color: #fff;
  border-radius: 24px;
  max-width: 750px;
  padding: 20px 32px;
}
.title {
  padding: 10px;
}
.date-info {
  color: #717171;
  font-weight: 500;
}
.title-info {
  font-size: 52px;
  font-weight: 700;
}
.btn-blog {
  color: #fff;
  background-color: #118ee9;
  border-radius: 40px;
  font-weight: 400;
}
.btn-blog:hover {
  background: #ffe600;
  color: #313131;
  border: none;
    transition: background 0.2s;
}
.content-desc {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.carousel-control-prev {
  display: none;
}
.carousel-control-next {
  display: none;
}
.carousel-item {
  transition: transform 1s !important;
}
.container {
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}
.title-section {
  font-size: 52px;
  font-weight: 700;
}
.forminput {
  margin-top: 20px;
  position: relative;

}
.input-search {
  width: 100%;
  height: 54px;
  border: 1px solid #e0e0e0;
  border-radius: 32px;
  padding-left: 50px;
  padding-right: 36px;
  font-size: 17px;
  background: #fff;
  color: #313131;
  outline: none;
  transition: border .2s, box-shadow .2s;
  box-sizing: border-box;
} 
.input__prefix{
  position: absolute;
  left: 22px;
  top: 10px;
  z-index: 2;
}
.card {
  border: none;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 0px;
}
.card-artikel {
  margin-top: 20px;
}
.img-col {
  padding: 20px;
  width: 100%;
  height: 100%;
}
.card-info {
  padding-left: 40px;
  color: #717171;
  font-weight: 500;
  font-size: 20px;
  margin-top: -30px;
}
.card-info h5 {
  color: #111;
  margin-top: -20px;
  font-weight: 700;
}
.card-info a {
  text-decoration: none;
  
} 
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .page-link {
  border: none;
}

/* ======================= FOOTER ======================= */
.to-top-button {
  float: right;
  margin-top: -3.5rem;
}
.footer-border {
  background-color: #fff;
  height: 1px;
  width: 95%;
  margin: 48px 0;
}
.btn-sign {
  height: 44px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.4px;
  background-color: #18c1ff;
  border: none;
  color: #fff;
}
.main-footer li a:hover {
  color: rgb(229, 229, 229) !important;
}

.main-footer li a:hover {
  color: rgb(229, 229, 229) !important;
}
@media (max-width: 767px) {
  .img-blog {
  width: 100%;
  max-width: 100vw;
  height: 500px;
  padding-left: 0;
  }
  .hero-container {
  position: relative;
  left: 0;
  margin: 30px 30px;
}
.title-info {
  font-size: 42px;
}
}


